#categories {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 440px;
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
}

#categories .item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: #F6F6FE;
    border-radius: 8px;
    width: 392px;
}
.categories-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: #2E2F42;
    margin: 0;
}

.sublist {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.subitem {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #2E2F42;
    padding: 8px;
    border: 1px solid #808080;
    border-radius: 4px;
}