.gallery {
    list-style: none;
    margin: 0;
    padding: 100px 156px;
    background-color: #FFFFFF;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 48px;
    column-gap: 24px;
    

}

.gallery-item {
    width: calc((100% - 24px * 2) / 3);
    height: 300px;
    overflow: hidden;   
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;   
}
