.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    font-family: 'Montserrat', sans-serif;
    background: #FFFFFF;
}

.login-form label {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #2E2F42;
}

.login-form input {
    width: 360px;
    height: 40px;
    padding: 8px 16px;
    margin-top: 8px;
    border: 1px solid #808080;
    border-radius: 8px;
}

.login-form input:hover {
    border-color: #000000;
}

.login-form input:active {
    border-color: #808080;
}

/* Кнопка */
.login-form button {
    width: 86px;
    height: 40px;
    padding: 8px 16px;
    margin-top: 8px;
    border-radius: 8px;
    border: none;
    background-color: #4E75FF;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.2s ease;
}

.login-form button:hover {
    background: #6C8CFF;
}