/* Контейнер */
body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

#name-input {
    width: 360px;
    padding: 8px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    color: #2E2F42;
    line-height: 24px;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: #2E2F42;
    line-height: 32px;
    letter-spacing: 0.04em;
}
