body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.2s ease;
}

.widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 88px;
    gap: 16px;
    border-radius: 8px;
}

.widget p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #2E2F42;
}

.change-color {
    width: 148px;
    height: 40px;
    padding: 8px 16px;
    background-color: #4E75FF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.change-color:hover {
    background: #6C8CFF;
}